@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #0052b6;
  --color-light-primary: #f1f5f9;
  --color-middle-primary: #dbeafe;

  --color-primary-foreground: #F8FAFC;
  --color-border-color: #e5e7eb;
}

* {
  font-family: 'Lexend Deca', sans-serif;
}

/* body {
  overflow: hidden;
} */